Source: pardus-desktops
Section: metapackages
Priority: optional
Maintainer: Fatih Altun <fatih.altun@pardus.org.tr>
Build-Depends: debhelper (>=10)
Standards-Version: 4.2.1
Homepage: http://www.pardus.org.tr

Package: pardus-common-desktop
Architecture: any
Depends: ${misc:Depends},
 dbus-user-session,
 desktop-base, 
 pardus-archive-keyring,
 pardus-x11-settings,
 xorg,
 xserver-xorg-input-all,
 xserver-xorg-legacy,
 xserver-xorg-video-all,
Recommends:
 eject,
 firefox-esr | firefox-esr:any | firefox-esr:armhf | firefox | www-browser | www-browser:any,
 firefox-esr-l10n-tr,
 iw,
 pardus-backgrounds,
 plymouth,
 plymouth-themes,
 tlp,
 xdg-utils
Description: Meta-package with dependencies common to all desktops provided by Pardus
 This metapackage depends on Pardus packages that should be intalled on all
 desktop installations of Pardus.
 .
 This metapackage is a dependency of all pardus-*-desktop packages.


Package: pardus-gnome-desktop
Architecture: any
Depends: ${misc:Depends}, 
 default-dbus-session-bus | dbus-session-bus,
 file-roller,
 gedit,
 gnome-core,
 gnome-shell-extension-arc-menu,
 gnome-shell-extension-apt-update-indicator,
 gnome-shell-extension-dashtodock,
 gnome-shell-extension-desktop-icons-ng,
 gnome-shell-extension-remove-dropdown-arrows,
 gnome-shell-extension-restart-shell,
 gnome-tweak-tool,
 gnome-orca,
 pardus-common-desktop,
 pardus-gnome-settings,
Recommends:
 brasero,
 cups,
 evolution,
 hunspell-tr,
 gdebi,
 gimp,
 gnome-screenshot,
 gnome-shell-extension-dash-to-panel,
 gnome-shell-extension-desktop-icons,
 libreoffice,
 libreoffice-gnome,
 libreoffice-gtk3,
 libreoffice-l10n-tr,
 pardus-about,
 pardus-configure,
 pardus-image-writer,
 pardus-java-installer,
 pardus-package-installer,
 pardus-usb-formatter,
 pardus-store,
 pinta,
 rar,
 synaptic,
 thunderbird,
 thunderbird-l10n-tr,
 vlc
Description: GNOME based Pardus desktop
 This metapackage installs a GNOME desktop on your Pardus system.

Package: pardus-xfce-desktop
Architecture: any
Depends: ${misc:Depends},
 default-dbus-session-bus | dbus-session-bus,
 gnome-orca,
 gnome-system-tools,
 gvfs,
 gvfs-backends,
 lightdm,
 light-locker,
 network-manager-gnome,
 pardus-common-desktop,
 pardus-xfce-settings,
 package-update-indicator,
 software-properties-common,
 system-config-printer,
 xfce4,
 xfce4-goodies,
 xfce4-places-plugin,
 xfce4-power-manager,
 xfce4-power-manager-plugins,
 xfce4-terminal,
 xfce4-whiskermenu-plugin,
 xsane,
Recommends:
 alsa-utils,
 blueman,
 catfish,
 cups,
 evince-gtk | evince,
 evolution,
 file-roller,
 galculator,
 gdebi,
 gimp,
 gnome-disk-utility,
 hunspell-tr,
 libcanberra-gtk3-module,
 libcanberra-gtk-module,
 libreoffice,
 libreoffice-gnome,
 libreoffice-gtk3,
 libreoffice-l10n-tr,
 mousepad,
 mugshot,
 pardus-about,
 pardus-configure,
 pardus-image-writer,
 pardus-java-installer,
 pardus-package-installer,
 pardus-usb-formatter,
 pardus-store,
 pardus-xfce-icon-theme-metal,
 pinta,
 rar,
 synaptic,
 thunderbird,
 thunderbird-l10n-tr,
 vlc
Description: Xfce based Pardus desktop
 This metapackage installs a Xfce desktop on your Pardus system.
