Source: pardus-desktops
Section: metapackages
Priority: optional
Maintainer: Yunusemre Şentürk <yunusemre.senturk@pardus.org.tr>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: http://www.pardus.org.tr

Package: pardus-common-desktop
Architecture: any
Depends: ${misc:Depends},
 dbus-user-session,
 desktop-base,
 firefox-esr | firefox-esr:any | firefox-esr:armhf | firefox | www-browser | www-browser:any,
 pardus-archive-keyring,
 pardus-x11-settings,
 plymouth,
 plymouth-themes,
 tlp,
 xserver-xorg-legacy,
Description: Meta-package with dependencies common to all desktops provided by Pardus
 This metapackage depends on Pardus packages that should be intalled on all
 desktop installations of Pardus.
 .
 This metapackage is a dependency of all pardus-*-desktop packages.


Package: pardus-xfce-desktop
Architecture: any
Depends: ${misc:Depends},
 audacious,
 default-dbus-session-bus | dbus-session-bus,
 evince-gtk | evince,
 flashplugin-nonfree,
 firefox-esr | firefox,
 gnome-orca,
 gvfs,
 gvfs-backends,
 libreoffice,
 libreoffice-gtk2,
 lightdm,
 light-locker,
 mousepad,
 mugshot,
 network-manager-gnome,
 pardus-common-desktop,
 pardus-xfce-settings,
 software-properties-common,
 synaptic,
 system-config-printer,
 vlc,
 xfce4,
 xfce4-goodies,
 xfce4-places-plugin,
 xfce4-power-manager,
 xfce4-power-manager-plugins,
 xfce4-terminal,
 xfce4-whiskermenu-plugin,
 xsane,
Recommends:
 libcanberra-gtk3-module,
 libcanberra-gtk-module
Description: Xfce based Pardus desktop
 This metapackage install a Xfce desktop on your Pardus system.
