Source: pardus-desktops
Section: metapackages
Priority: optional
Maintainer: Yunusemre Şentürk <yunusemre.senturk@pardus.org.tr>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: http://www.pardus.org.tr

Package: pardus-common-desktop
Architecture: any
Depends: ${misc:Depends},
 dbus-user-session,
 desktop-base,
 firefox-esr | firefox-esr:any | firefox-esr:armhf | firefox | www-browser | www-browser:any,
 firefox-esr-l10n-tr,
 pardus-archive-keyring,
 pardus-x11-settings,
 tlp,
 xorg,
 xserver-xorg-input-all,
 xserver-xorg-legacy,
 xserver-xorg-video-all,
Recommends:
 alsa-utils,
 eject,
 iw,
 plymouth,
 plymouth-themes,
 xdg-utils
Description: Meta-package with dependencies common to all desktops provided by Pardus
 This metapackage depends on Pardus packages that should be intalled on all
 desktop installations of Pardus.
 .
 This metapackage is a dependency of all pardus-*-desktop packages.


Package: pardus-xfce-desktop
Architecture: any
Depends: ${misc:Depends}, 
 default-dbus-session-bus | dbus-session-bus,
 evince-gtk | evince, 
 gnome-disk-utility,
 gnome-orca,
 gvfs,
 gvfs-backends, 
 lightdm,
 light-locker, 
 network-manager-gnome,
 pardus-common-desktop,
 pardus-xfce-settings,
 pk-update-icon,
 software-properties-common,
 system-config-printer, 
 xfce4,
 xfce4-goodies,
 xfce4-places-plugin,
 xfce4-power-manager,
 xfce4-power-manager-plugins,
 xfce4-terminal,
 xfce4-whiskermenu-plugin,
 xsane,
Recommends:
 catfish,
 cups,
 libcanberra-gtk3-module,
 libcanberra-gtk-module,
 libreoffice,
 libreoffice-gtk2,
 libreoffice-l10n-tr,
 mousepad,
 mugshot,
 synaptic,
 thunderbird,
 thunderbird-l10n-tr,
 vlc
Description: Xfce based Pardus desktop
 This metapackage installs a Xfce desktop on your Pardus system.
 
 
Package: pardus-kde-desktop
Architecture: any
Depends: ${misc:Depends}, 
 kde-standard,
 lightdm, 
 pardus-common-desktop,
 pardus-kde-settings, 
Recommends: 
 cups, 
 k3b,
 k3b-i18n,
 kdesudo,
 libreoffice,
 libreoffice-gtk2,
 libreoffice-l10n-tr,
 plasma-nm,
 system-config-printer,
 thunderbird,
 thunderbird-l10n-tr,
 vlc
Description: KDE based Pardus desktop
 This metapackage installs a KDE desktop on your Pardus system.
